@charset "UTF-8";

@import "compass";
@import "vars";
@import "inuit/inuit.css/inuit";
@import "harsh";

html {
  background-color: #EFE8D5;
  color: #333;
  font-family: $brand-face;
}

a {
  color: $brand-color;
}

.site-title {
  a {
    text-decoration :none;
    @include opacity(0.6);
    &:hover {
      @include opacity(1);
    }
  }
}

#{headings(all)} {
  // color: #002B36;
  color: #666;
  font-family: $brand-face-alt;
}

.wrapper {
  margin: 0 auto;
  max-width: 40em;
}

.main {
  padding: 20px;
  background-color: #FFF;
}

header {
  // background-color: #002B36;
  background-color: #111;
  @include harsh(black, #957642, $transparency: 0.6, $nuance-strength: 10);
  // @include harsh(black, #333333, $transparency: 0.6);
  a {
    color: #EFE8D5;
  }
  @include media-query(desk) {
    padding-top: 200px;
  }
}

.content {
  margin-bottom: $base-spacing-unit;
}

.nav {
  margin-bottom: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.post-date {
  font-family: $brand-face-alt;
  font-style: italic;
}

.fancy-top-border {
  &:before {
    width: 40px;
    margin: 0 auto;
    margin-bottom: $base-spacing-unit;
    content: "";
    display: block;
    border-top: 1px solid #666;
  } 
}

.block-list {
  border-color: #DDD;
  li {
    padding-left: 0;
    padding-right: 0;
    border-color: #DDD;
  }
}
.rule {
  border-color: #DDD;
}

.loz {
  background-color: $brand-color;
  font-size: 0.8em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
pre,code,kbd,samp{
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-size: 0.9em;
}

pre code {
  padding: $half-spacing-unit $base-spacing-unit;
  @include border-radius();
}

code {
  border: 1px solid #DDD;
  background-color: #EFEFEF;
  padding: 0.1em 0.4em;
  @include border-radius(4px);
}

blockquote {
  padding-left: $base-spacing-unit ;
  border-left: 4px solid #DDD;
}

.btn {
  color: white;
  background-color: $brand-color;
  @include border-radius();
}

.pagination-link {
  @extend .milli;
  @include media-query(portable) {
    text-align: center;
  }
}

footer {
  .nav--keywords {
    li {
      &:after {
        content: " | ";
      }
    }
  }
}
